@{ 
    ViewBag.Title = "About Page";
}
<div class="contain">
    <div class="row align-items-center">
        <div class="col-md-6 mx-auto">
            <p>
                This web application allows the user to plan trips and enter the locations at which they will stop that.  
                Those locations will become visible on a map once they are submitted.
            </p>
            <p>
                The Trip Planner application is a variation of a course instructed by <a href="https://github.com/shawnwildermuth">Shawn Wildermuth</a>.
                This project demonstrates the use of ASPNETCore, AngularJS, and AlaSQL.
            </p>
            <p>
                Source code can be found <a href="https://github.com/mrdcs92/trip-planner">here</a>.
            </p>
        </div>
    </div>
</div>