@{ 
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script src="~/js/sqlFactory.js"></script>
    <script src="~/js/tripsController.js"></script> 
    <script src="~/js/stopsController.js"></script>
}

<div ng-view></div>
